.custom-jumbotron {
    height: 100vh;
    position: relative;
    overflow-x: hidden;

    .ilus-jumbotron1 {
        width: 300px;
        height: auto;

        @include for-desktop() {
            width: unset;
            height: unset;
        }
    }

    .content {
        text-align: center;
        color: $blue-font;
        z-index: 2;
        position: relative;
        top: 30px;

        @include for-desktop() {
            position: absolute;
            top: 120px;
            left: 50%;
            width: 530px;
            color: $blue-font;
            z-index: 2;
            text-align: unset;
        }

        h1 {
            font-size: 40px;
            margin-bottom: 30px;
            font-weight: bold;
            letter-spacing: 2px;
        }

        p {
            font-size: 20px;
            letter-spacing: 1px;
        }
    }

    .img-jumbotron2 {
        transform: scaleX(-1);
        width: auto;
        height: 80vh;
        position: absolute;
        left: -320px;
        bottom: 0;
        z-index: 0;
        filter: brightness(130%) blur(5px);
        // display: none;

        @include for-desktop() {
            width: 50vw;
            height: auto;
            left: 0;
            filter: unset;
        }
    }

    .ilus-jumbotron2 {
        width: 400px;
        height: auto;
        position: absolute;
        right: 0;
        bottom: 0;

        @include for-desktop() {
            width: unset;
            height: unset;
        }
    }
}