@font-face {
  font-family: Open-sans;
  src: url(./assets/fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Open-sans-bold;
  src: url(./assets/fonts/Open_Sans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: Staatliches;
  src: url(./assets/fonts/Staatliches/Staatliches-Regular.ttf);
}

@import './components/styles/mixins';
@import './components/styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open-sans';
}

body {
  // overflow: hidden;
}


@import './components/styles/navbar';
@import './components//styles/jumbotron';
@import './components/styles/about';
@import './components/styles/price';

.container-fluid {

  @include for-desktop() {
    width: 100%;
    padding-right: 65px;
    padding-left: 65px;
    margin-right: auto;
    margin-left: auto;
  }
}

.panjang {
  height: 100vh;
}